/* /////////////////////// */
/* custom font */
/* /////////////////////// */
@font-face {
  font-family: "Norse-Bold";
  src: url("/font/Norse-Bold.otf") format("opentype");
}

/* /////////////////////// */
/* Aside */
/* /////////////////////// */
.aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #f8f9fa;
  background-image: url(/img/green-leaf.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.logo {
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-content: center;
  font-family: "Norse-Bold", sans-serif;
  font-size: 9.8rem;
  padding: 2rem, 2rem;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  margin-top: 10rem;
}

.logo-img {
  height: auto;
  width: 10rem;
}

.aside > p {
  text-align: center;
  padding: 1rem;
}

/* /////////////////////// */
/* Form */
/* /////////////////////// */

.form-container {
  background-color: #f8f9fa;
}

#signUp_form {
  display: flex;
  flex-direction: column;
}

/* Text */
.text {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  padding: 6rem 4rem 5rem 4rem;
}
.text > p {
  color: #111;
  font-size: 2rem;
  font-weight: 500;
}

/* form-fieldset */
.form-field {
  background-color: #fff;
  flex: 1;
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border: none;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.1);
  z-index: 8888;
}

.form-field > span {
  font-size: 2.4rem;
  font-weight: 500;
}

.form-row {
  display: flex;
  gap: 8rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-input {
  display: flex;
  border: 1px solid #ced4da;
  text-align: justify;
  width: 30rem;
  height: 4rem;
  padding: 0.6rem 1.2rem;
}

.form-input:focus {
  border: 2px solid #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.form-group > label {
  font-size: 1.4rem;
  letter-spacing: 2px;
  font-weight: 600;
  padding-bottom: 0.5rem;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

/* Form Botton Container */

.form__button-container {
  flex: 1;

  padding: 4rem;
}

.submit-button {
  display: inline-block;
  background-color: #596d48;
  font-weight: 600;
  color: #f8f9fa;
  padding: 1rem 4rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.submit-button:hover {
  background-color: #47573a;
}

.form__button-container > p {
  padding-top: 2rem;
  color: #111;
  font-size: 1.4rem;
  font-weight: 500;
}

.link:link,
.link:visited {
  display: inline-block;
  color: #111;
  font-size: 1.4rem;
  font-weight: 500;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: #6a7c5a;
  letter-spacing: 1px;
}
/* 
#596D48

#09c372;

#ff3860;

#ff3860;
*/
